$main-font: 'Open Sans', sans-serif;
$fvi-blue: #0090EC;
$dark-blue: #003352;

* {
    box-sizing: border-box;
    position: relative;
    transition: all 200ms;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #777;
}

body {
    margin: 0 auto;
    color: #222;
    font-family: $main-font;
}

section {
    padding: 40px 0px;
    background-color: #fff;

    &.bg-gray {
        background-color: #eee;
    }

    @media all and (min-width: 768px) {
        padding: 60px 30px;
    }
}

section.above-the-fold {
    background-size: cover;
    background-position: center;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 20px;
    min-height: 80vh;

    @media all and (min-width: 768px) {
        min-height: 35vw;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .logo {
        width: 140px;
        display: block;

        @media all and (min-width: 992px) {
            width: 180px;
        }
    }
}

.page-title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    font-size: 34px;
    letter-spacing: 4px;
    padding-top: 30%;
    margin: 0;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, .8);
    @include slide-up-fade-in(200ms);

    @media all and (min-width: 768px) {
        padding-top: 10%;
        font-size: 56px;
    }
}

.page-subtitle {
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px 4px rgba(0, 0, 0, .7);
    line-height: 1.7;
    max-width: 800px;
    margin: 30px auto;
    @include slide-up-fade-in(400ms);
}

.section-title {
    font-size: 34px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 0;

    @media all and (min-width: 768px) {
        font-size: 46px;
    }
}

p, li {
    line-height: 1.5;
    font-size: 18px;
}

p {
    margin: 30px 0;
}

a {
    color: $fvi-blue;

    &:focus,
    &:hover {
        color: $dark-blue;
    }
}

button, .btn {
    display: block;
    background-color: $fvi-blue;
    color: #fff;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: $main-font;
    cursor: pointer;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 1);
    transform: translateY(-2px);
    transition: all 200ms;

    &:focus,
    &:hover {
        outline: none;
        background-color: lighten($fvi-blue, 10%);
        color: #fff;
    }

    &:active {
        transition: all 0s;
        box-shadow: none;
        transform: translateY(0);
    }
}
