@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

$main-font: 'Open Sans', sans-serif;
$fvi-blue: #2C99EB;

* {
    box-sizing: border-box;
    position: relative;
    transition: all 200ms;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #777;
}

body {
    margin: 0 auto;
    color: #222;
    font-family: $main-font;
    max-width: 1400px;
}
