footer {
    background-color: #282828;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    .first,
    .second,
    .third,
    .fourth {
        width: 100%;
        padding: 20px;

        @media all and (min-width: 768px) {
            width: 50%;
        }

        @media all and (min-width: 1000px) {
            width: 25%;
        }

        .heading {
            color: #fff;
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 20px;
        }

        p, li {
            color: #aaa;
            font-style: normal;
            font-size: 14px;
        }
    }
}

footer .first {

    @media all and (min-width: 768px) {
        border-right: 1px solid #444;
    }

    .logo {
        width: 170px;
        margin-bottom: 10px;
    }

    address {
        color: #aaa;
        font-style: normal;
        font-size: 14px;
    }
}

footer .second {

    @media all and (min-width: 1000px) {
        border-right: 1px solid #444;
    }

    ul {
        padding: 0;
        list-style: none;

        li {
            border-bottom: 1px dotted #444;
        }

        li a {
            color: #aaa;
            text-decoration: none;
            display: inline-block;
            padding-bottom: 10px;
            margin-top: 10px;

            &:hover,
            &:focus {
                color: #fff;
                font-weight: bolder;
            }
        }
    }

    .social-media {
        display: flex;
        flex-direction: row;

        a {
            color: #fff;
            line-height: 2;
            padding: 0 10px;
            text-align: center;
            border: 1px solid #fff;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: #fff;
                color: #282828;
            }

            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
                border-right: none;
            }

            &:nth-of-type(1) {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            &:nth-of-type(4) {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }

        a i {
            transition: all 0s;
        }
    }
}

footer .third {

    @media all and (min-width: 768px) {
        border-right: 1px solid #444;
        margin-top: 30px;
    }

    @media all and (min-width: 1000px) {
        margin-top: 0;
    }

    .tweet {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 20px 0;

        i {
            color: #aaa;
            width: 35px;
            font-size: 20px;
        }

        .text-container {
            width: 100%;
        }

        .text {
            margin: 0;
        }

        .date {
            margin: 0;
            margin-top: 4px;
            color: #777;
            font-size: 12px;
        }
    }
}

footer .fourth {

    @media all and (min-width: 768px) {
        margin-top: 30px;
    }

    @media all and (min-width: 1000px) {
        margin-top: 0;
    }

    .blog-posts {
        width: 100%;
        margin-bottom: 15px;

        a {
            display: inline-block;
            width: 23%;
            padding-bottom: 23%;
            background-size: cover;

            &:nth-of-type(1) {
                background-image: url('../../images/code-on-screen.jpeg');
            }
            &:nth-of-type(2) {
                background-image: url('../../images/people/guy-on-laptop.jpeg');
            }
            &:nth-of-type(3) {
                background-image: url('../../images/phone-and-laptop.jpg');
            }
            &:nth-of-type(4) {
                background-image: url('../../images/backgrounds/computer-mouse.jpg');
            }
        }
    }

    .form-input {
        display: flex;
        flex-flow: row nowrap;

        input {
            display: block;
            padding: 8px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid #aaa;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-right: none;
            padding-left: 12px;
            color: #fff;
            font-size: 14px;

            &:hover,
            &:focus {
                background-color: rgba(255, 255, 255, .1);
            }
        }

        button {
            display: block;
            width: 40px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border: 1px solid #aaa;
            background-color: #aaa;
            color: #fff;
            font-size: 24px;
            line-height: .8;
            cursor: pointer;
            text-transform: none;
            padding: 0;
            font-weight: normal;
            letter-spacing: normal;
            transform: none;

            &:hover,
            &:focus {
                background-color: #555;
                border-color: #555;
            }
        }
    }

    p {
        margin-top: -12px;
        margin-bottom: 20px;
    }
}
