nav{
  color: white;
  display: flex;
  position: fixed;
  right: 5%;
  z-index: 100;
  *{
    background-color: $fvi-blue;
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 1.25rem;
  }
  span {
      display: none;
      margin: 0;
      padding: 0;

      @media all and (min-width: 440px) {
          display: inline;
      }
  }
  .phone,
  i {
      border: 1px solid #666;
      border-top: none;
  }
  .phone {
      a {
          margin: 0;

          @media all and (min-width: 340px) {
              margin: 0 1rem;
          }
      }
  }
  div{
    padding-left: 1rem;
  }
  a{
    color: white;
  }
  i{
      transform: scaleX(1.5);
  }
  i:hover{
    cursor: pointer;
  }
}
