#pop-up-form {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -999;
    opacity: 0;
    transition: all 300ms;

    .pop-up-form-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
    }
}

#pop-up-form .form-container {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    padding: 15px;
    width: 90%;
    max-width: 400px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .5);
    opacity: 0;

    @media all and (min-width: 480px) {
        padding: 30px;
    }

    .title {
        font-weight: 300;
        font-size: 22px;
        margin: auto;
        margin-bottom: 10px;
        line-height: 1;
        color: #555;

        @media all and (min-width: 375px) {
            font-size: 26px;
        }
    }

    .close-btn {
        position: absolute;
        top: 4px;
        right: 5px;
        color: #EC6B60;
        cursor: pointer;
    }

    .form-input {
        width: 100%;
        margin: 4px 0;

        @media all and (min-width: 480px) {
            margin: 18px 0;
        }

        label {
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            font-size: 10px;
            letter-spacing: 1px;

            @media all and (min-width: 768px) {
                font-size: 12px;
            }
        }

        input {
            display: inline-block;
            width: 100%;
            margin-top: 0px;
            border: 1px solid #ccc;
            padding: 7px;
            -webkit-appearance: none;
            appearance: none;

            &::placeholder {
                color: #999;
            }

            @media all and (min-width: 375px) {
                padding: 10px;
                margin-top: 3px;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
    }

    .submit-btn {
        display: block;
        text-transform: uppercase;
        color: #fff;
        margin: 20px auto;
        width: 180px;
        padding: 10px;
        border: none;
        background-color: $fvi-blue;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .8);
        transform: translateY(-2px);

        &:focus,
        &:hover {
            outline: none;
            background-color: darken($fvi-blue, 10%);
        }

        &:active {
            transition: all 0s;
            box-shadow: none;
            transform: translateY(0);
        }

        @media all and (min-width: 480px) {
            padding: 14px;
            margin: 30px auto;
        }
    }

    .success,
    .error {
        background-color: #61C754;
        color: #fff;
        border-radius: 3px;
        padding: 10px;
        width: 100%;
        display: block;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        margin: 20px auto;

        @media all and (min-width: 375px) {
            padding: 14px;
            margin: 30px auto;
        }
    }

    .error {
        background-color: #EC6B60;
    }

    .disclosure {
        font-size: 10px;
        line-height: 1.2;
        margin: 0;
        color: #888;
    }
}

@keyframes form-appear {
    0% {
        opacity: 0;
        transform: translateY(25px) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}
@mixin form-appear($delay) {
    animation-name: form-appear;
    animation-duration: 700ms;
    animation-delay: $delay;
    animation-fill-mode: forwards;
    transition: all 200ms;
}

#pop-up-form.open {
    z-index: 999;
    opacity: 1;

    .form-container {
        @include form-appear(100ms);
    }
}
