section.student-projects {

    .section-title {
        text-align: center;
    }

    .projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 50px;

        @media all and (min-width: 768px) {
            margin-top: 80px;
        }
    }

    .project {
        display: block;
        text-decoration: none;
        width: 280px;
        box-shadow: 0 25px 30px -10px rgba(0, 0, 0, .5);
        margin-bottom: 50px;
        transition: all 300ms;

        @media all and (min-width: 375px) {
            margin-left: 15px;
            margin-right: 15px;
        }

        img {
            width: 100%;
        }

        .title {
            font-size: 18px;
            text-align: center;
            padding: 15px;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #555;
        }

        &::before {
            content: '';
            padding: 7px;
            border: 3px solid #777;
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: -10px;
            left: -10px;
        }

        &:hover,
        &:focus {
            transform: scale(1.02) translateY(-4px);
            box-shadow: 0 27px 35px -10px rgba(0, 0, 0, .6);
        }
    }
}
