@import "../node_modules/carousel-slider/src/css/index.scss";

section.testimonials {
    background-color: #eee;
    padding: 0;

    .carousel {
        @media all and (min-width: 992px) {
            padding-bottom: 28vw;
        }
    }
}

section.testimonials .carousel-item {
    .left {
        width: 100%;
        max-width: 500px;
        @media all and (min-width: 768px) {
            width: 45%;
        }

        img {
            width: 100%;
            padding: 30px 30px 0;
            @media all and (min-width: 768px) {
                position: absolute;
                bottom: 0;
            }
        }
    }

    .right {
        width: 100%;
        max-width: 500px;
        padding: 20px 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media all and (min-width: 786px) {
            width: 55%;
            padding-bottom: 20px;
        }

        .heading {
            font-size: 20px;
            text-transform: uppercase;
            margin: 0;

            @media all and (min-width: 1400px) {
                font-size: 28px;
            }
        }

        .quote {
            line-height: 1.5;
            font-size: 16px;
            margin-bottom: 8px;
            @media all and (min-width: 768px) {
                margin: 15px 0;
                margin-bottom: 10px;
            }
            @media all and (min-width: 1400px) {
                margin: 30px 0;
                margin-bottom: 10px;
            }
        }

        .author {
            margin: 0;
            font-style: italic;
            color: #888;
            font-size: 14px;
        }
    }
}

section.testimonials .carousel-item.youtube {
    align-items: center;

    .left,
    .right {

        @media all and (min-width: 768px) {
            width: 50%;
            max-width: none;
        }
    }

    .left {
        max-width: none;
        background-color: #000;
        align-self: stretch;
        height: 100%;
    }

    .right {

        @media all and (min-width: 768px) {
            padding-right: 10%;
        }
    }

    .video-container {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;

        @media all and (min-width: 768px) {
            top: 50%;
            transform: translateY(-50%);
        }

        iframe {
            width: 100%;
            height: 100%;
            position:absolute;
            width:100%;
            height:100%;
            left:0;
        }
    }
}

section.testimonials .carousel-item.image {
    align-items: center;

    .left,
    .right {

        @media all and (min-width: 768px) {
            width: 50%;
            max-width: none;
        }
    }

    .left {
        max-width: none;
        background-color: #eee;
        align-self: stretch;
        height: 100%;

        img {
            position: relative;
            display: block;
            margin: auto;
            width: 100%;
            padding: 0;

            @media all and (min-width: 768px) {
                height: 100%;
                width: auto;
            }
        }
    }

    .right {

        @media all and (min-width: 768px) {
            padding-right: 10%;
        }
    }
}
