section.cta {
    text-align: center;

    .disclaimer {
        font-size: 12px;
        max-width: 400px;
        margin: 5px auto 0;
        text-align: left;
    }

    .enroll {
        font-size: 24px;
        display: inline-block;
        margin-top: 40px;
    }
}

section.cta table {
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-collapse: collapse;

    th, td {
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        font-size: 14px;
    }

    th {
        background-color: #999;
        padding: 10px;
    }

    td {
        padding: 10px;
        background-color: #ddd;
    }
}
