@import "../../node_modules/carousel-slider/src/css/index.scss";

section.images-slider {
    padding: 0;
    display: none;

    @media all and (min-width: 768px) {
        display: block;
    }

    .carousel-item {
        background-size: cover;
        background-position: center center;
    }

    .image-1 {
        background-position: center 20%;
    }

    .image-2 {
        background-position: center top;
    }

    .image-3 {
        background-position: right 30%;
    }

    .image-4 {

    }
}
