@import "../../node_modules/carousel-slider/src/css/index.scss";

section.images-slider {
    padding: 0;
    
    .carousel-item {
        background-size: cover;
        background-position: center center;
    }

    .image-1 {
        background-image: url('../../images/pipeline/learning-1.jpg');
        background-position: center 20%;
    }

    .image-2 {
        background-image: url('../../images/pipeline/students-2.jpg');
        background-position: center top;
    }

    .image-3 {
        background-image: url('../../images/people/3-students-at-desk.jpg');
    }

    .image-4 {
        background-image: url('../../images/pipeline/workspace.jpg');
    }
}
