#menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    box-shadow: 10px 0 40px 10px #000;
    padding-top: 45px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateY(-110%);

    @media all and (min-width: 992px) {
        padding-bottom: 20px;
    }

    &.visible {
        transform: translateY(0%);
    }
}

.menu-container .menu-section {
    width: 100%;
    min-width: 260px;

    &:first-of-type .menu-header:first-of-type {
        border-top: none;
    }

    @media all and (min-width: 992px) {
        width: 400px;
        padding: 0 30px;

        &:first-of-type .menu-header:first-of-type {
            border-top: 1px solid #999;
        }
    }

    a {
        text-decoration: none;
        display: block;
        padding: 10px;
        font-size: 14px;
        color: #fff;
        transition: all 0s;

        &:hover,
        &:focus {
            color: $fvi-blue;
        }
    }

    .menu-header {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-top: 1px solid #999;
        padding: 20px 15px;

        &.shrunk {
            padding: 15px;
        }

        @media all and (min-width: 992px) {
            border-bottom: 1px solid #999;
            margin: 10px 0;
            padding-left: 0px;
        }
    }

    .menu-header.dropdown {

        &::after {
            content: '▼';
            font-size: 8px;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: scaleX(1.5) translateY(-50%);
            transition: all 200ms;
        }

        &.open {

            &::after {
                transform: scaleX(1.5) translateY(-50%) rotateX(180deg);
            }
        }

        @media all and (min-width: 992px) {

            &::after {
                content: none;
            }
        }
    }

    .menu-list {
        height: 0;
        overflow: hidden;
        background-color: #fff;

        @media all and (min-width: 992px) {
            height: auto;
            background-color: inherit;

            .mobile-link {
                display: none;
            }
        }

        a {
            color: #222;
            padding-left: 25px;

            @media all and (min-width: 992px) {
                color: #fff;
                padding-left: 0px;
            }

            &:hover,
            &:focus {
                color: $fvi-blue;
            }
        }

        &.visible {
            height: auto;
            padding: 5px 0;
        }
    }
}
