#menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: -99;
    transition: all 300ms;

    &.visible {
        z-index: 99;
        opacity: 1;
    }
}
