section.above-the-fold {
    background-image: url('../../images/map.jpg');

    @media all and (min-width: 992px) {
        min-height: 40vh;
    }

    .page-title {
        display: inline-block;
        font-size: 36px;
        letter-spacing: 1px;
        background-color: $fvi-blue;
        padding: 15px;
        margin-top: 50%;
        text-shadow: none;
        font-weight: 700;

        @media all and (min-width: 768px) {
            margin-top: 30px;
        }
    }
}
