section.request-more-info {
    padding-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;

    .main,
    aside {
        margin-bottom: 40px;
    }

    .main {
        width: 100%;
        max-width: 580px;

        .section-title {
            color: $fvi-blue;
            font-weight: 400;
        }

        .form-input {
            margin: 15px 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            div {
                width: 100%;

                &:nth-of-type(2) {
                    margin-top: 15px;
                }

                @media all and (min-width: 768px) {
                    width: calc(50% - 10px);

                    &:nth-of-type(2) {
                        margin-top: 0;
                    }
                }
            }

            label {
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 1px;
                font-size: 12px;
            }

            input {
                display: block;
                width: 100%;
                margin-top: 3px;
                padding: 7px;
            }
        }

        button {
            display: block;
            background-color: $fvi-blue;
            color: #fff;
            border: none;
            padding: 15px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 800;
            width: 100%;
            font-family: $main-font;
            cursor: pointer;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 1);
            transform: translateY(-2px);
            transition: all 200ms;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: lighten($fvi-blue, 10%);
            }

            &:active {
                transition: all 0s;
                box-shadow: none;
                transform: translateY(0);
            }
        }
    }

    aside {
        background-color: #eee;
        width: 100%;
        padding: 15px;
        max-width: 580px;

        @media all and (min-width: 992px) {
            max-width: 300px;
            margin-left: 40px;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 26px;
            color: $fvi-blue;
        }

        p {
            font-size: 16px;
            margin: 15px 0;

            &.contact {
                margin: 0;
            }
        }

        strong {
            color: $fvi-blue;
        }

        img {
            width: 100%;
            margin-top: 20px;
        }
    }
}
