section.above-the-fold {
    background-image:
        linear-gradient(rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .6) 100%),
        url('../../images/backgrounds/computer-background.jpg');
    background-size: cover;
    background-position: center top;
    min-height: 80vh;
    padding-bottom: 20px;

    @media all and (min-width: 992px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .logo {
        width: 140px;
        margin-top: 80px;

        @media all and (min-width: 600px) {
            margin-top: 0;
        }
    }
}
