section.how-we-compare {
    background-color: darken($fvi-blue, 30%);

    .section-title {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
        text-shadow: 0 2px 3px rgba(0, 0, 0, .9);
    }

    .section-subtitle {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        color: #fff;
    }

    .content {

    }

    .split-3 {
        align-items: stretch;
        padding-left: 15px;
        padding-right: 15px;
    }

    .split-box {
        padding: 15px;
        background-color: #ddd;
        margin-bottom: 25px;
        box-shadow: 0 20px 30px -5px rgba(0, 0, 0, .7);

        @media all and (min-width: 992px) {
            padding: 20px;
            width: 30%;
        }

        h4 {
            font-size: 22px;
            letter-spacing: 3px;
            margin-top: 0;
            text-transform: uppercase;
        }

        p {
            font-size: 14px;

            @media all and (min-width: 768px) {
                font-size: 16px;
            }
        }
    }
}
