section.above-the-fold {
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url('https://as2.ftcdn.net/jpg/01/03/43/63/500_F_103436362_smIv1jpkYwUpHgBbM7iG1BozZF35nYiW.jpg');
    background-size: 100% auto;
    background-position: 100% 20%;
}
