section.banner {
    padding: 0;
    width: 100%;
    padding-bottom: 35%;
    background-image:
        linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
        url('../../images/backgrounds/people-coffee-tea-meeting.jpg');
    background-size: cover;
    background-position: right top;
}
