section.benefits {

}

section.benefits .split {
    display: flex;
    flex-flow: row wrap;

    .left,
    .right {
        width: 100%;

        @media all and (min-width: 992px) {
            width: 50%;
        }
    }

    .left {

        @media all and (min-width: 992px) {
            padding-right: 40px;
        }

        .section-title {
            line-height: 1;
        }
    }

    .right {
        background-image: url('../../images/people/desk-professionals.jpg');
        background-size: cover;
        background-position: right top;
        padding-bottom: 50%;

        @media all and (min-width: 992px) {
            padding-bottom: 0;
            align-self: stretch;
        }
    }
}
