section.benefits {

}

section.benefits .split {
    display: flex;
    flex-flow: row wrap;

    .left,
    .right {
        width: 100%;

        @media all and (min-width: 992px) {
            width: 50%;
        }
    }

    .left {

        @media all and (min-width: 992px) {
            padding-right: 40px;
        }

        .section-title {
            line-height: 1;
        }
    }

    .right {
        background-image: url('https://as2.ftcdn.net/jpg/00/80/50/15/500_F_80501595_gHkR5J6z6OrhjSnfGPvY2WlwBpRqZWy6.jpg');
        background-size: cover;
        background-position: center top;
        padding-bottom: 50%;

        @media all and (min-width: 992px) {
            padding-bottom: 0;
        }
    }
}
