section {

    .section-title {
        letter-spacing: 0px;
        text-align: center;
    }

    .programs-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .program {
        padding: 15px;
        background-color: #555;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);

        @media all and (min-width: 768px) {
            width: 33%;
            padding: 25px;
        }

        .image {
            width: 100%;
            padding-bottom: 60%;
            background-size: cover;
            background-position: center;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .3);
        }

        h3 {
            color: #fff;
            font-size: 28px;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            color: #fff;
        }

        a {
            text-decoration: none;

            &:hover,
            &:focus {

                h3 {
                    color: lighten($fvi-blue, 15%);
                }
            }
        }
    }

    .web-dev {

        .image {
            background-image: url('../../images/backgrounds/computer-background.jpg');
        }
    }

    .cyber {

        .image {
            background-image: url('https://as2.ftcdn.net/jpg/01/60/94/51/500_F_160945177_QsAPAwo3Qt3ux9s0BHcqJXcLV707DtlT.jpg');
        }
    }
}
