section {

    .section-title {
        letter-spacing: 0px;
        text-align: center;
    }

    .programs-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .program {
        padding: 15px;
        margin-bottom: 30px;
        background-color: #ddd;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        text-decoration: none;

        @media all and (min-width: 768px) {
            width: 40%;
            padding: 25px;
            margin-bottom: 0;
        }

        .image {
            width: 100%;
            padding-bottom: 60%;
            background-size: cover;
            background-position: center;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .3);

            h3 {
                position: absolute;
                color: #fff;
                font-size: 28px;
                font-weight: 400;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 15px;
                text-shadow: 1px 2px 4px rgba(0, 0, 0, .8);

                @media all and (min-width: 375px) {
                    font-size: 34px;
                }
            }
        }

        p {
            font-size: 16px;
            color: #000;
            margin-bottom: 0;
        }

        &:hover,
        &:focus {
            transition-delay: 0s !important;
            transition: all 200ms;
            box-shadow: 0 6px 8px -1px rgba(0, 0, 0, .6);
            transform: scale(1.02);

            h3 {
                color: lighten($fvi-blue, 10%);
            }
        }
    }

    .web-dev {

        .image {
            background-image:
                linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
                url('../../images/backgrounds/computer-background.jpg');
        }
    }

    .cyber {

        .image {
            background-image:
                linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
                url('https://as2.ftcdn.net/jpg/01/60/94/51/500_F_160945177_QsAPAwo3Qt3ux9s0BHcqJXcLV707DtlT.jpg');
        }
    }
}
