section {

    .section-title {
        color: $fvi-blue;
        letter-spacing: 0px;
    }

    .container.programs {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .program {
        padding: 15px;

        @media all and (min-width: 768px) {
            width: 33%;
        }

        .image {
            width: 100%;
            padding-bottom: 60%;
            background-image: url('../../images/people/girl-on-laptop.jpg');
            background-size: cover;
            background-position: center;
        }

        h3 {
            color: $fvi-blue;
            font-size: 28px;
            text-transform: uppercase;
        }
    }
}
