section.above-the-fold {
    background-image:
        linear-gradient(rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .7) 100%),
        url('../../images/backgrounds/servers-room.jpg');
    min-height: 80vh;
    text-align: left;

    .content {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
    }
}

section.above-the-fold .text-box {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;

    @media all and (min-width: 1200px) {
        text-align: inherit;
        width: auto;
        max-width: 600px;
    }

    h2 {
        // text-transform: uppercase;
        font-weight: 300;
        font-size: 50px;
        color: #fff;
        margin: 0;
        padding-top: 40px;
        text-shadow: 0 1px 6px rgba(0, 0, 0, .3);
        @include slide-up-fade-in(0s);

        @media all and (min-width: 768px) {
            padding-top: 12%;
            padding-bottom: 20px;
            font-size: 65px;
        }
    }

    h4 {
        font-weight: 400;
        color: #fff;
        font-size: 16px;
        line-height: 1.7;
        text-shadow: 0 1px 5px rgba(0, 0, 0, .7);
        width: 100%;
        @include slide-up-fade-in(500ms);

        @media all and (min-width: 480px) {
            font-weight: 300;
            font-size: 24px;
        }

        @media all and (min-width: 1200px) {
            width: inherit;
            max-width: 400px;
        }

        small {
            font-size: 10px;
            top: -5px;
            left: 2px;

            @media all and (min-width: 768px) {
                font-size: 16px;
                top: -8px;
            }
        }
    }

    .figures-container {
        width: 100%;
        max-width: 530px;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .7);
        margin: auto;

        .figure {
            color: #fff;
            text-align: center;

            .number {
                margin: 0;
                font-size: 18px;
                font-weight: 700;

                @media all and (min-width: 500px) {
                    font-size: 28px;
                }
            }

            .label {
                margin-top: 5px;
                font-size: 14px;
                max-width: 80px;

                @media all and (min-width: 500px) {
                    font-size: 18px;
                    max-width: none;
                }
            }
        }
    }

    .disclosure {
        font-size: 12px;
        color: #fff;
        margin: 0;

        a {
            color: #fff;
        }
    }
}

section.above-the-fold .get-info-form.on-page {
    // undo base form styles
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 1;
    transition: 0s;

    @media all and (min-width: 1200px) {
        width: auto;
    }

    .get-info-form-overlay {
        display: none;
    }

    .close-btn {
        display: none;
    }
}

section.above-the-fold .get-info-form.on-page .form-container {
    // undo base styles
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    max-width: 500px;
    margin: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 1;

    // on-page form styles
    box-shadow: 0 3px 8px -1px rgba(0, 0, 0, .7);

    @media all and (min-width: 1200px) {
        width: auto;
        max-width: 400px;
    }
}
