section.hiring-partners {
    background-color: #fff;
    padding-bottom: 30px;

    .section-title {
        text-align: center;
    }

    .logos-container {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: center;
        padding: 30px;
        padding-top: 20px;

        img {
            height: 60px;
            margin: 20px;
        }
    }
}
