section.our-campus {
    background-color: #666;

    .split-box {
        margin-bottom: 50px;
        width: 100%;

        @media all and (min-width: 768px) {
            width: calc(50% - 25px);
        }
    }

    .image-container {
        padding-bottom: 60%;

        @media all and (min-width: 768px) {
            padding-bottom: 30%;
        }

        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            border: 3px solid #222;
            box-shadow: 5px 15px 40px -10px rgba(0, 0, 0, .8);

            &.first {
                background-image: url('../../images/pipeline/workspace.jpg');
            }

            &.second {
                background-image: url('../../images/pipeline/students-3.jpg');
                background-position: center top;
            }

            &.third {
                background-image: url('../../images/pipeline/learning-1.jpg');
            }
        }
    }

    .text {
        text-align: center;
        align-self: center;
        padding: 0 30px;
        color: #eee;
        font-weight: 300;
        font-size: 18px;

        .section-title {
            text-align: center;
            color: #eee;
        }
    }
}