section.program-overview {
    background-color: #fff;
    padding-bottom: 60px;

    .section-title {
        text-align: center;
    }

    .subtitle {
        text-align: left;
        max-width: 900px;
        line-height: 1.7;
        font-size: 16px;
        font-weight: 300;
        margin: 40px auto 40px;

        @media all and (min-width: 992px) {
            text-align: center;
            margin-bottom: 60px;
        }
    }
}


section.program-overview .cards-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    .left,
    .right {
        width: 100%;

        @media all and (min-width: 700px) {
            width: 50%;
        }
    }

    .card {
        padding: 15px 0;
        display: flex;
        align-items: center;

        @media all and (min-width: 700px) {
            padding: 15px;
        }

        img {
            width: 70px;
            margin-right: 20px;
        }

        p {
            margin: 0;
        }
    }
}
