section.program-overview {
    background-color: #fff;
    padding-bottom: 60px;

    .section-title {
        text-align: center;
    }

    .split-box {
        font-size: 14px;
        padding: 15px;
        margin: 0;

        @media all and (min-width: 768px) {
            text-align: center;
        }
    }
}


section.program-overview .cards-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 20px;

    .left,
    .right {
        width: 100%;

        @media all and (min-width: 700px) {
            width: 50%;
        }
    }

    .card {
        padding: 15px 0;
        display: flex;
        align-items: center;

        @media all and (min-width: 700px) {
            padding: 15px;
        }

        img {
            width: 60px;
            margin-right: 20px;
        }

        p {
            margin: 0;
            font-size: 14px;
            font-weight: 700;

            @media all and (min-width: 768px) {
                font-size: 16px;
            }
        }
    }
}
