section.above-the-fold {
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url('../../../images/backgrounds/hands-spiral-mobile.jpg');
    background-position: center 80%;

    @media all and (min-width: 441px) {
        background-image:
            linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url('../../../images/backgrounds/hands-spiral.jpg');
    }
}
