section.photos-and-maps {
    .split-box {
        margin-bottom: 50px;
        width: 100%;
        @media all and (min-width: 768px) {
            width: calc(50% - 25px);
        }
    }

    .text {
        text-align: center;
        align-self: center;
        padding: 0 30px;
        font-weight: 300;
        font-size: 18px;
        
        .section-title {
            text-align: center;
        }

        .location-buttons {
            .btn {
                margin: 20px;
                display: inline-block;
            }
        }
    }

    .image-container {
        padding-bottom: 60%;

        @media all and (min-width: 768px) {
            padding-bottom: 30%;
        }

        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-color: #000;
            border: 3px solid #222;
            box-shadow: 5px 15px 40px -10px rgba(0, 0, 0, .8);

            &.first {
                background-position: center top;

                &.lazyloaded {
                    background-image: url('../../../images/pipeline/learning-1-mobile.jpg');

                    @media (min-width: 441px) {
                        background-image: url('../../../images/pipeline/learning-1.jpg');
                    }
                }
            }
        }

        .location-title {
            margin-top: 0;
            margin-bottom: 4px;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: normal;
        }

        .location-map {
            position: absolute;
            background-color: #000;
            width: 100%;
            height: calc(100% - 22px);
            border: 3px solid #222;
            box-shadow: 5px 15px 40px -10px rgba(0, 0, 0, .8);
        }
    }
}
