section.events-list {

    .section-summary {
        font-size: 22px;
    }
}

section.events-list .events-list-container {

    .date-section {
        margin-top: 40px;
    }

    .date-title {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 16px;
        font-weight: 400;
        color: #bbb;
    }
}

section.events-list .events-list-container .event {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
    border-top: 1px solid #ddd;
    padding: 15px 0;

    @media all and (min-width: 992px) {
        padding: 20px;
    }

    &-image {
        width: 100%;
        display: block;
        padding-bottom: 20px;

        @media all and (min-width: 992px) {
            width: 35%;
        }

        img {
            width: 100%;
        }
    }

    &-text {
        width: 100%;

        @media all and (min-width: 992px) {
            width: 50%;
            padding: 0 30px;
        }

        .event-title {
            font-size: 22px;
            display: block;
            margin: 0 0 15px;
            font-weight: bolder;
            text-decoration: none;
            cursor: pointer;
        }

        .event-description {

             p {
                font-size: 14px;
                margin: 20px 0;
             }
        }
    }

    &-info {
        width: 100%;

        @media all and (min-width: 992px) {
            width: 15%;
        }

        .date {
            margin-top: 0;
            margin-bottom: 0px;
            font-weight: bolder;
            text-transform: uppercase;
            font-size: 14px;
        }

        .start-time,
        .end-time {
            font-size: 14px;
            font-weight: bolder;
            text-transform: uppercase;
            font-size: 14px;
        }

        .location {
            margin: 20px 0;
            font-style: normal;
            line-height: 1.4;
            font-size: 14px;
        }

        .register {
            display: inline-block;
            background-color: #02AB45;
            font-size: 14px;
        }
    }
}