section.benefits {
    width: 100%;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    background-image:
        linear-gradient(rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .7) 100%),
        url('../../../images/backgrounds/canvas-texture-mobile.jpg');

    @media all and (min-width: 441px) {
        background-image:
            linear-gradient(rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .7) 100%),
            url('../../../images/backgrounds/canvas-texture.jpg');
        background-size: cover;
    }

    .section-title {
        text-align: center;
    }
}

section.benefits .benefits-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    max-width: 1200px;
    margin: auto;

    .left,
    .middle,
    .right {
        width: 100%;
        padding: 15px 0;

        @media all and (min-width: 992px) {
            padding: 0 25px;
            width: 33%;
        }
    }

    .left {

        p {
            line-height: 1.8;
            font-size: 18px;
        }
    }

    .middle {

        img {
            width: 100%;
            border: 2px solid #555;
        }
    }

    .right {

        ul {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px;
                font-weight: 700;
            }
        }

        .icon {
            width: 30px;
        }

        li p {
            margin: 0;
            margin-left: 15px;
            font-size: 13px;
        }
    }
}
