section.celebrity {
    background-color: #111;
    background-image:
        linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
        url('https://as1.ftcdn.net/jpg/01/57/53/60/500_F_157536040_zpH8asEsEisSbaRp1GZMgVMWMELW3tms.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    padding: 30px;

    @media all and (min-width: 768px) {
        padding: 60px 40px;
    }

    .code-org-logo {
        width: 90px;
        height: 90px;
        margin: auto;
        display: flex;
        flex-flow: row wrap;

        span {
            border: 1px solid #fff;
            border-radius: 7px;
            margin: 2px;
            width: calc(50% - 4px);
            height: calc(50% - 4px);
            text-align: center;
            line-height: 2;
            font-size: 20px;
        }
    }

    .quote {
        max-width: 1000px;
        margin: 30px auto;
        line-height: 1.5;
        font-size: 18px;
        text-align: justify;

        @media all and (min-width: 768px) {
            margin: 50px auto;
        }
    }

    .author,
    .title {
        max-width: 1000px;
        margin: auto;
        text-align: right;
    }

    .author {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .title {
        font-size: 14px;
        font-weight: 800;
    }
}
