section.hero {
    background-color: $fvi-blue;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0;

    .split-3 {
        align-items: center;
    }

    .split-box {
        @media all and (min-width: 768px) {
            width: auto;
        }

        @media all and (min-width: 992px) {
            width: 33%;
        }
    }

    .split-box:nth-of-type(1) {
        padding-top: 30px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        align-self: stretch;

        @media all and (min-width: 500px) {
            justify-content: space-between;
        }

        @media all and (min-width: 992px) {
            border-bottom: none;
            padding-top: 0;
            justify-content: flex-end;
        }

        h2 {
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 1px;
            line-height: 1.3;
            font-size: 26px;
            margin: 0;
            width: 100%;
            text-align: center;
            margin-top: 20px;
            z-index: 1;

            @media all and (min-width: 500px) {
                width: 50%;
                padding-bottom: 50px;
                padding-left: 20px;
            }

            @media all and (min-width: 992px) {
                text-align: left;
                margin: 15px 0;
                padding-right: 30px;
                padding-left: 0;
                padding-bottom: 0;
            }

            @media all and (min-width: 1400px) {
                font-size: 30px;
            }
        }

        .image {
            width: 50%;
            padding-top: 30px;
            padding-bottom: 30px;
            margin: auto;

            @media all and (min-width: 500px) {
                width: 30%;
            }

            @media all and (min-width: 992px) {
                left: -15px;
                margin: 0;
                width: auto;
                padding-top: 0;
                padding-bottom: 0;
                height: 90%;
                position: absolute;
                bottom: 10px;
                left: 15px;
                z-index: 0;
            }
        }
    }

    .split-box:nth-of-type(2) {
        max-width: none;
        align-self: stretch;
        width: 100%;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;

        @media all and (min-width: 768px) {
            padding-top: 30px;
        }

        @media all and (min-width: 992px) {
            width: 33%;
            padding-left: 0;
            padding-right: 0;
        }

        .video-container {
            background-color: #000;
            position: relative;
            height: 0;
            padding-bottom: 56.25%;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .9);
            border: 4px solid #000;
            margin-bottom: 40px;

            @media all and (min-width: 768px) {
                margin-bottom: 0;
            }

            iframe {
                display: block;
                width: 100%;
                height: 100%;
                position:absolute;
                width:100%;
                height:100%;
                left:0;
            }
        }
    }

    .split-box:nth-of-type(3) {
        align-self: center;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;

        @media all and (min-width: 768px) {
            padding-left: 30px;
            padding-right: 15px;
            padding-top: 30px;
        }

        @media all and (min-width: 1400px) {
            padding: 30px 60px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 0;

            @media all and (min-width: 1400px) {
                font-size: 20px;
                line-height: 1.7;
            }
        }
    }
}
