section.partners {
    background-color: #fff;
    padding: 0;

    .logos-container {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: center;
        padding: 30px;

        img {
            height: 80px;
            margin: 20px;
        }
    }
}
