section.programs {
    display: flex;
    flex-flow: row wrap;
    padding: 0;

    .left,
    .right {
        width: 100%;
        padding-bottom: 80%;
        background-size: cover;
        background-position: center top;

        @media all and (min-width: 768px) {
            padding-bottom: 30%;
            width: 50%;
        }

        .program-title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, .8);
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 700;
            text-align: center;
            padding: 20px 10px;
            text-decoration: none;
            color: #fff;

            &:hover,
            &:focus {
                background-color: #000;
                color: $fvi-blue;
                padding: 30px 10px;
            }

            @media all and (min-width: 768px) {
                padding: 40px 20px;
                font-size: 28px;

                &:hover,
                &:focus {
                    padding: 60px 20px;
                }
            }
        }
    }

    .left {
        background-image: url('../../images/code-on-screen.jpeg');
    }
    .right {
        background-image: url('../../images/people/guy-on-laptop.jpeg');
    }
}
