section.tech-industry {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;

    @media all and (min-width: 992px) {
        padding: 100px 0;
    }

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .section-title {
        text-align: center;

        @media all and (min-width: 992px) {
            top: -20px;
        }
    }

    .graph-container,
    .explanation,
    .income-div {
        width: 100%;
        padding: 20px 0;

        @media all and (min-width: 992px) {
            padding: 0 40px;
            width: 33%;
        }
    }

    .graph-container {
        padding-top: 60px;

        @media all and (min-width: 992px) {
            margin-top: 0px;
        }

        .graph-label {
            display: block;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 14px;
            text-align: center;
        }
    }

    .explanation {
        line-height: 1.4;
        color: #888;
    }

    .income-div {
        text-align: center;

        h4 {
            font-weight: 800;
            color: #000;
            text-transform: uppercase;
        }

        .citation {
            display: block;
            font-size: 10px;
            margin: 0;
            margin-top: 15px;
            color: #888;
        }
    }

    .stats-container {

        @media all and (min-width: 640px) {
            display: flex;
            justify-content: space-between;
        }

        @media all and (min-width: 992px) {
            display: block;
        }
    }

    .stat-box {
        max-width: 220px;
        margin: auto;

        .income {
            line-height: 1.2;
            font-weight: 700;
            font-size: 50px;
            margin: 0;
            display: inline-block;

            &::after {
                content: '†';
                font-size: 8px;
                color: #888;
                margin-left: 4px;
                position: absolute;
                top: 10px;
            }
        }

        .position {
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 30px;
            font-size: 14px;
            font-weight: 700;
        }

        .income.one,
        .position.one {
            color: #D00;
        }

        .income.two,
        .position.two {
            color: #187000;
        }

        .income.three,
        .position.three {
            color: #004ba8;
        }
    }
}

section.tech-industry .graph {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;

    .bar-container {
        width: 30%;
        min-height: 240px;
    }

    .bar {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        margin: auto;
        text-align: center;
        height: 0px;
        transition: height 1s;
    }

    .bar-container:nth-of-type(1) .bar {
        background-image: linear-gradient(orange 30%, red 100%);

        .rocket {
            animation-delay: 400ms;
        }
    }

    .bar-container:nth-of-type(2) .bar {
        background-image: linear-gradient(#76ff51 30%, #187000 100%);

        .rocket {
            animation-delay: 700ms;
        }
    }

    .bar-container:nth-of-type(3) .bar {
        background-image: linear-gradient(#6df2ff 30%, #004ba8 100%);

        .rocket {
            animation-delay: 1000ms;
        }
    }

    .bar-container:nth-of-type(4) .bar {
        background-image: linear-gradient(#ddd 30%, #888 100%);

        .rocket {
            animation-delay: 1300ms;
        }
    }

    .bar .rocket-container {
        position: absolute;
        top: -20px;
        left: -10px;
        width: 60px;
        opacity: .2;
        transition: opacity 1s;

        .rocket {
            height: 45px;
            transform: translateX(-50%) rotate(-90deg);
            position: absolute;
            left: 50%;
            z-index: 1;
        }

        .flame {
            top: 35px;
            transform: rotate(180deg);
            width: 30px;
            animation-name: flame-pulse;
            animation-duration: 800ms;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-out;
        }
    }

    .bar span {
        font-size: 16px;
        font-weight: bolder;
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        color: #fff;
    }

    label {
        position: absolute;
        bottom: 0;
        display: block;
        font-size: 10px;
        text-align: center;
        width: 100%;
        margin-top: 5px;
        line-height: 1.2;
        font-weight: bolder;
    }

    &.scroll-visible {

        .bar-container:nth-of-type(1) .bar {
            height: 230px;
        }

        .bar-container:nth-of-type(2) .bar {
            height: 190px;
            transition-delay: 300ms;
        }

        .bar-container:nth-of-type(3) .bar {
            height: 200px;
            transition-delay: 600ms;
        }

        .bar-container:nth-of-type(4) .bar {
            height: 80px;
            transition-delay: 900ms;
        }

        .bar .rocket-container {
            opacity: 1;

            .rocket {
                animation-name: rocket-grow;
                animation-duration: 600ms;
                animation-timing-function: linear;
            }
        }
    }
}

@keyframes flame-pulse {
    from {
        transform: scaleX(.9) translateY(-2px) rotate(180deg);
    }
    to {
        transform: scale(1.2) translateY(3px) rotate(180deg);
    }
}

@keyframes rocket-grow {
    0% {
        height: 45px;
    }
    65% {
        height: 51px
    }
    100% {
        height: 45px;
    }
}
