section.tech-industry {
    background-color: #fff;
    padding-top: 10px;

    .section-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 0px;
        color: #000;
    }

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .graph,
    .explanation,
    .income-div {
        width: 100%;
        padding: 20px;

        @media all and (min-width: 992px) {
            padding: 40px;
            width: 33%;
        }
    }

    .graph {
        margin-top: 30px;

        @media all and (min-width: 992px) {
            margin-top: -20px;
        }
    }

    .explanation {
        line-height: 1.4;
        color: #888;
    }

    .income-div {

        h4 {
            font-weight: 800;
            color: #000;
            text-transform: uppercase;
        }

        .income {
            font-weight: 700;
            font-size: 50px;
            margin: 0;
        }

        .position {
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        .income.one,
        .position.one {
            color: red;
        }

        .income.two,
        .position.two {
            color: green;
        }

        .income.three,
        .position.three {
            color: #00C;
        }
    }

}
