main.testimonials-page {

    @media all and (min-width: 768px) {
        margin-bottom: 70px;
    }
}

section.testimonials-page.testimonial {
    padding-top: 30px;
    padding-bottom: 30px;

    .video-container {
        z-index: 1;
        width: 100%;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;        

        @media all and (min-width: 768px) {
            width: 400px;
            padding-bottom: 225px;
            float: left;
            margin-right: 30px;
            margin-bottom: 15px;
        }

        iframe {
            width: 100%;
            height: 100%;
            position:absolute;
            width:100%;
            height:100%;
            left:0;
        }
    }

    .image {
        display: block;
        width: 100%;

        @media all and (min-width: 768px) {
            max-width: 400px;
            float: left;
            margin-right: 30px;
            margin-bottom: 15px;
        }
    }

    .video-container,
    .image {
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .5);
        border: 2px solid #888;
        background-color: #000;
        z-index: 3;

        @media all and (min-width: 768px) {
            margin-top: 4px;
        }
    }

    .author {
        margin-bottom: 5px;
        font-size: 28px;
    }

    .title {
        margin-top: 0px;
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #777;
        margin-bottom: 15px;
    }

    .question {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 5px;

        @media all and (min-width: 768px) {
            font-size: 20px;
        }
    }

    .quote {
        font-size: 14px;
        margin-top: 0;
        position: relative;

        @media all and (min-width: 768px) {
            font-size: 18px;
            line-height: 1.8;
        }

        .teaser-overlay {
            background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%);
            left: 0;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;

            @media all and (min-width: 662px) {
                background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 65%);
            }

            @media all and (min-width: 1200px) {
                background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
            }
        }
    }

    #eric-teaser {
        margin-top: -65px;
        z-index: 2;

        @media all and (min-width: 1200px) {
            margin-top: -45px;
        }
    }
}