section.above-the-fold {
    background-image:
        linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url('https://as1.ftcdn.net/jpg/00/96/98/74/500_F_96987432_WkF0QwpjhiTcWvR1SbcaL38QVl7QWp2s.jpg');
    background-size: auto 110%;
    background-position: left top;
    min-height: 50vh;

    @media all and (min-width: 768px) {
        min-height: 40vw;
        background-size: cover;
        background-position: center 20%;
    }
}
