section.above-the-fold {
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url('https://trello-attachments.s3.amazonaws.com/592864d1ac8bd09d7e290cba/5935a304cbb36b7f896ffe04/147aa14e68b65cd780e376a88250b364/AdobeStock_125793672_Preview.jpeg');
    background-size: cover;
    background-position: center;
}
