section.above-the-fold {
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url('../../../images/showing-off-computer-project-mobile.jpg');
    background-size: cover;
    background-position: center;

    @media all and (min-width: 441px) {
        background-image:
            linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url('../../../images/showing-off-computer-project.jpg');
    }
}
