section {

    &.bg-gray {
        background-color: #eee;
    }
}


section.banner {
    background-size: cover;
    background-position: center;
    min-height: 35vw;

    &.teaching {
        background-image:
            linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
            url('../../../images/backgrounds/teaching-mobile.jpg');

        @media all and (min-width: 441px) {
            background-image:
                linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
                url('../../../images/backgrounds/teaching.jpg');
        }
    }
}

section.net-price-calculator {

    .section-title {

        @media all and (min-width: 768px) {
            margin-bottom: 0;

            &::after {
                content: '→';
                margin-left: 9px;
                font-size: 40px;
                font-weight: bold;
                top: 4px;
                line-height: .5;
            }
        }
    }

    .btn {
        width: 200px;

        @media all and (min-width: 768px) {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 20px;
        }
    }
}
