section.hiring-partner-button {
    text-align: center;
    padding-bottom: 120px;

    #open-hiring-partner-form {
        display: inline-block;
        line-height: 1.7;
        font-size: 22px;
    }
}