section.learning {
    min-height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        linear-gradient(rgba(62, 142, 229, .4), rgba(62, 142, 229, .4)),
        url('../../../images/computer-lab.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .content {
        padding: 15px;
        position: absolute;
        width: 100%;
        max-width: 700px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .section-title {
        color: #fff;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
        text-align: center;
        font-size: 50px;
        margin-top: 50px;

        @media all and (min-width: 768px) {
            font-size: 64px;
        }
    }

    p, li {
        color: #fff;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
        line-height: 1.7;
    }

    p:last-of-type {
        margin-bottom: 60px;
    }
}
