section.hiring-partner-testimonials {

    .section-title {
        text-align: center;
    }

    .testimonials-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: row wrap;
        align-items: center;
    }
}

section.hiring-partner-testimonials .testimonial {
    width: 100%;

    @media all and (min-width: 768px) {
        width: 48%;
        padding: 0 20px;
        margin: 20px 0;
    }

    @media all and (min-width: 1200px) {
        width: 33%;
    }
    
    .name {
        text-align: center;
        font-size: 22px;
        letter-spacing: 3px;
        font-weight: 900;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    video {
        width: 100%;
        max-width: 400px;
        border: 2px solid #ccc;
        box-shadow: 0 4px 15px -5px rgba(0, 0, 0, .3);
        transition: all 200ms;

        &:hover,
        &:focus {
            border-color: #777;
        }
    }

    .text {
        text-align: center;

        p {
            margin: 25px 0 15px;
            font-size: 16px;
        }

        .author-name {
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0;
            font-style: italic;
            font-size: 12px;
            color: #777;
        }

        .author-title {
            margin-top: 0px;
            font-style: italic;
            color: #999;
            font-weight: 300;
            font-size: 13px;
        }
    }
}