section.above-the-fold {
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url('https://as2.ftcdn.net/jpg/00/46/00/71/500_F_46007175_ZAz5VwNMKiLvsMcqMD2m4gl4bwUxU4Ht.jpg');
    background-position: center 80%;

    @media all and (min-width: 768px) {
        min-height: 40vw;
    }
}
